doctype html
html
  head
    title 
    meta(charset="utf-8")
    meta(name="description",content="tab saver")
    meta(name="keywords",content="")
    meta(name="Kunle")
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:700,400', rel='stylesheet', type='text/css')
    link(rel="stylesheet", href="../css/stylesheet.css")
  body
    header: h2 TabSaver
    div(id="container")
  script(type="text/javascript" src="../js/jquery-2.1.4.min.js")
  script(type="text/javascript" src="../js/script.js")
    
    
      
    
